<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand" >Clientes</a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="contact" routerLink="/clientes"
            >Lista de Cliente</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <img src="../../assets/imagem/logo.png" alt="" />
  <h1>Formulario de Clientes</h1>
</div>

<footer>

  <ul class="social-icon">
    <li><a href=""><i class="bi bi-facebook"></i></a></li>
    <li><a href=""><i class="bi bi-linkedin"></i></a></li>
    <li><a href=""><i class="bi bi-instagram"></i></a></li>
  </ul>
  <div class="div_footer">
    <p>joao cairiton 2022</p>
  </div>

</footer>
