<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Clientes</a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="contact" routerLink="/clientes">Lista de Cliente</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <header>
    <img src="../../assets/imagem/logo.png" alt="" />
    <h1>Cadastro de Clientes</h1>
  </header>
  <main>
    <form (ngSubmit)="onSubmit()" method="post" action="" class="form">
      <div class="form__div">
        <input id="nome" name="nome" type="text" class="form__input" placeholder=" " [(ngModel)]="cliente.nome">
        <label for="" class="form__label">Nome</label>
    </div>
    <div class="form__div">
      <input id="fone" name="fone" type="text" class="form__input" placeholder=" " [(ngModel)]="cliente.telefone">
      <label for="" class="form__label">telefone</label>
  </div>
      <div  class="form__div">
          <input id="email" name="email" type="text" class="form__input" placeholder=" " [(ngModel)]="cliente.email">
          <label for="" class="form__label">Email</label>
      </div>

      <input type="submit" class="form__button" value="Cadastrar">
    </form>
  </main>
</div>

<!--<div class="container">
  <form (ngSubmit)="onSubmit()" method="post" action="">
    <h1>Cadastro</h1>

    <p>
      <label for="nome">nome</label>
      <input id="nome" name="nome" required="required" type="text" [(ngModel)]="cliente.nome" placeholder="nome" />
    </p>

    <p>
      <label for="fone">Telefone</label>
      <input id="fone" name="fone" required="required" type="fone" [(ngModel)]="cliente.telefone" placeholder="telefone"/>
    </p>

    <p>
      <label for="email">E-mail</label>
      <input id="email" name="email" required="required" type="text" [(ngModel)]="cliente.email" placeholder=" E-mail"/>
    </p>

    <p>
      <input class="btn btn-primary" type="submit" value="Cadastrar"/>
    </p>


  </form>
</div>-->
